<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>
      <a routerLink="/">Online.Af</a>
    </span>
    <div fxShow="true" fxHide.lt-md>
      <a mat-button class="my-margins" routerLink="/food" routerLinkActive="mat-accent"><mat-icon>fastfood</mat-icon> Food</a>
      <a mat-button class="my-margins" routerLink="/store" routerLinkActive="mat-accent"><mat-icon>local_mall</mat-icon> Store</a>
      <a mat-button class="my-margins" routerLink="/pharmacy" routerLinkActive="mat-accent"><mat-icon>medical_services</mat-icon> Pharmacy</a>
      <a mat-button class="my-margins" routerLink="/electronics" routerLinkActive="mat-accent"><mat-icon>laptop</mat-icon> Electronics</a>
      <a mat-button class="my-margins" routerLink="/electronics" routerLinkActive="mat-accent"><mat-icon>local_florist</mat-icon> Flowers</a>
    </div>
    <span class="spacer"></span>
    <div fxShow="true">
      <a mat-button routerLink="/cart" fxHide.gt-sm><mat-icon>local_grocery_store</mat-icon></a>
      <a mat-button routerLink="/profile"><mat-icon>account_circle</mat-icon></a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
